body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: rgb(246, 252, 161);
    display:flex;
   justify-content:center;
   align-items: center;  
    height:80vh;
}
nav {
    background-color: black;
    overflow:hidden;
    padding: 10px;
    width: 100%;
    
    

}
nav a {
    display:inline-block;  /*side by side*/
    color:antiquewhite;
    padding: 14px 16px;
    text-align: center;
    margin-left: 80px;  /*move */

}