body {
    font-family: 'Courier New', Courier, monospace;
    margin: 25px;
    background-color: rgb(250, 197, 132);
}

form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
}

.error {
    color: red;
    font-size: 15px;
}
